In [1]:
import pandas as pd
import os

os.chdir("./data/stocks_data/history_data")

In [7]:
data = pd.read_parquet("A.parquet")
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-11-18,32.546494,35.765381,28.612303,31.473534,26.652401,62546380
1999-11-19,30.713518,30.758226,28.478184,28.880545,24.456600,15234146
1999-11-22,29.551144,31.473534,28.657009,31.473534,26.652401,6577870
1999-11-23,30.400572,31.205294,28.612303,28.612303,24.229452,5975611
1999-11-24,28.701717,29.998213,28.612303,29.372318,24.873047,4843231
...,...,...,...,...,...,...
2023-12-22,139.610001,140.360001,138.789993,139.570007,139.108368,1204100
2023-12-26,139.309998,140.470001,139.089996,139.809998,139.347549,948400
2023-12-27,139.779999,140.160004,139.080002,139.820007,139.357529,1182300
2023-12-28,140.539993,140.809998,139.649994,139.770004,139.307709,892600
2023-12-29,139.070007,139.699997,138.360001,139.029999,138.804504,1014400

In [9]:
dd.loc[dd["comnam"] == 'TWENTY FIRST CENTURY FOX INC']

,permno,start,ending,date,ret,comnam,ncusip,namedt,nameendt,shrcd,exchcd,hsiccd,ticker
1074457,90441,2004-12-20,2019-03-19,2013-07-31,0.032470,TWENTY FIRST CENTURY FOX INC,90130A10,2013-07-01,2013-08-01,11,3,2711,FOXA
1079467,90441,2004-12-20,2019-03-19,2013-08-30,0.048528,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA
1082910,90441,2004-12-20,2019-03-19,2013-09-30,0.073572,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA
1088012,90441,2004-12-20,2019-03-19,2013-10-31,0.017040,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA
1093038,90441,2004-12-20,2019-03-19,2013-11-29,-0.017341,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317419,90442,2015-09-21,2019-03-19,2018-12-31,-0.025495,TWENTY FIRST CENTURY FOX INC,90130A20,2013-08-02,2019-03-18,11,3,2711,FOX
1322025,90441,2004-12-20,2019-03-19,2019-01-31,0.024730,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA
1322174,90442,2015-09-21,2019-03-19,2019-01-31,0.026790,TWENTY FIRST CENTURY FOX INC,90130A20,2013-08-02,2019-03-18,11,3,2711,FOX
1325249,90442,2015-09-21,2019-03-19,2019-02-28,0.022422,TWENTY FIRST CENTURY FOX INC,90130A20,2013-08-02,2019-03-18,11,3,2711,FOX
1325320,90441,2004-12-20,2019-03-19,2019-02-28,0.022713,TWENTY FIRST CENTURY FOX INC,90130A10,2013-08-02,2019-03-18,11,3,2711,FOXA